# Azure SQL (없으면 로컬 SQLite test.db로 폴백)
DATABASE_URL=Driver={ODBC Driver 18 for SQL Server};Server=tcp:<server>.database.windows.net,1433;Database=<db>;Uid=<user>;Pwd=<password>;Encrypt=yes;

# Azure Custom Vision (이미지 분석)
CUSTOM_VISION_URL=https://<resource>.cognitiveservices.azure.com/customvision/v3.0/Prediction/<project-id>/classify/iterations/<iteration>/image
CUSTOM_VISION_KEY=<prediction-key>

# Azure Blob Storage (이미지 원본 저장)
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<account>;AccountKey=<key>;EndpointSuffix=core.windows.net
